<div class="container">
  <h1>Followed Managers</h1>
  <p>This is the information on the Funds you follow</p>            
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th>Manager</th>
        <th>CIK</th>
        <th>Unfollow?</th>
      </tr>
    </thead>

    <tbody>

      <% @managers.each do |manager| %>
        <tr class="info">
            <td><%= link_to manager.name, manager_path(manager) %></td>
            <td><%= link_to manager.cik, manager_path(manager) %></td>
            <td><%= button_to unfollow_path(manager), :method => 'post', :params => { :manager_id => manager.id } do %>Quit Following</td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>